body{
	background: url('../img/background.png');
	background-repeat: no-repeat;
    background-size: cover;
}

main{
	display: flex;
	justify-content: space-around;
	flex-flow: row;

}

/*****HEADER*******/
.line{
	height: 8px;
	background: #EB6866;
	border-bottom: 10px solid #EB6866;
	margin-top: 5em;
    max-width: 65em;
    margin-left: auto;
    margin-right: auto;
}

h1{
	/*font-family: 'UnifrakturMaguntia';*/
	font-family: 'Rakkas';
	text-align: center;
    display: block;
    margin-top: -.005em;
    font-size: 5em;
   /* position: fixed;*/
    line-height: .9;
    margin-top: 2vw;
        /* max-width: 10em; */
    color: rgb(64, 63, 62);

}

header h1 span {
  display: block;
  /*font-size: 5em;*/
}

p.box{
	border-style: solid;
	border-color: #EB6866;
	margin-top: -2.5em;
    max-width: 65em;
    border-width: 2px;
}

h2{
	font-family: 'Rakkas';
	color: #6F7BC1;
	text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 2.5em; 
}

/******BODY*******/

/*Blue Headline*/
h3{
	font-family: 'Special Elite';
	text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: rgb(64, 63, 62);
   /* color: rgb(62, 63, 63);*/
}

h4{
	font-family: 'UnifrakturMaguntia';
	text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: rgb(64, 63, 62);
}

main section{
	width: 47%; 
	border: solid 1px #9E9C99;
}

@media only screen and (max-width:550px){
	main{
		flex-flow: column;
	}

	main section{
		width: 80%;
	}
}